.row {
  /* width: 1062px;  */
  /* Set the specific width for .row */
  margin-right: auto; /* Center the row if needed */
  margin-left: auto; /* Center the row if needed */
  /* Additional styles if needed */
}

/* รูปแบบสำหรับกรอบ Sign In ภายในคลาส col-6 card justify-content-center */
.col-6.card.justify-content-center {
  width: 100%; /* ขยายความกว้างของกรอบ */
  padding: 0.1rem; /* เพิ่มพื้นที่ว่างรอบ ๆ กรอบ */
  background: linear-gradient(145deg, #ffffff, #f0f0f0);
  border: 2px solid #c8c8c8;
  box-shadow: 12px 12px 24px rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
}

.col-6.card.justify-content-center h2 {
  font-size: 2.8rem; /* เพิ่มขนาดตัวอักษร */
  font-weight: bold;
  color: #2a2a2a;
  margin-bottom: 2.5rem; /* เพิ่มพื้นที่ว่างระหว่างหัวข้อกับแบบฟอร์ม */
}

.col-6.card.justify-content-center .form-control {
  border-radius: 18px; /* เพิ่มรูปแบบขอบให้มน */
  padding: 1.2rem 1.8rem; /* เพิ่มพื้นที่ว่างภายในช่องป้อนข้อมูล */
  font-size: 1.3rem;
  border: 1px solid #b8b8b8;
}

.col-6.card.justify-content-center .btn {
  font-size: 1.3rem;
  padding: 0.8rem 1.8rem; /* เพิ่มพื้นที่ว่างภายในปุ่ม */
  border-radius: 18px; /* เพิ่มรูปแบบขอบให้มน */
  transition: all 0.2s;
}

.col-6.card.justify-content-center .btn:hover {
  transform: translateY(-5px);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.35);
}


/* ปรับปรุงรูปแบบสำหรับการ์ด profile */
.card.profile {
  width: 100%;
  max-width: 1800px;
  margin: 20rem auto;
  padding: 1.5rem;
  border: 1px solid #e0e0e0;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  background-color: #f9f9f9;
  transition: transform 0.3s;
}

.card.profile:hover {
  transform: none;
}

.card.profile h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: #444;
  border-bottom: 3px solid #e0e0e0;
  padding-bottom: 0.8rem;
}

.card.profile img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 2rem;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.card.profile p {
  font-size: 1.3rem;
  color: #555;
  margin-bottom: 1.5rem;
}

.card.profile .btn {
  padding: 1rem 2rem;
  font-size: 1.2rem;
  border-radius: 12px;
}

.card-body2 {
  padding: 16px;
  background-color: #1a1a1a;
  color: rgba(255, 255, 255, 0.87);
}

.card-body {
  padding: 16px;
  background-color: #ffffff;
  color: rgba(255, 255, 255, 0.87);
}

.card-body3 {
  padding: 16px;
  background-color: #1a1a1a;
  color: rgba(255, 255, 255, 0.87);
}









.original-price2 {
  display: inline; /* ทำให้แต่ละประโยคเป็น inline element */
  text-decoration: line-through;
  color: #777;
  margin-right: 1rem;
}

.sale-price2 {
  display: inline; /* ทำให้แต่ละประโยคเป็น inline element */
  font-size: 1rem;
  color: #cc0000;
  font-weight: bold;
}

.original-price2, .sale-price2 {
  margin: 0; /* ลบระยะห่างด้านบนและด้านล่าง */
  padding-bottom: 0.5em; /* เพิ่มระยะห่างเล็กน้อยด้านล่างเพื่อความชัดเจน */
}